<htm>
    <body>
        <h1>BLUE LOCK</h1>
        <br>
        <h2>Sinopsis</h2>
        <br>
        
        <p>
            Cerita tentang <b>Tim Nasional Jepang</b> yang menempati posisi ke 16 pada gelaran <em>Piala Dunia 2018.</em>
            Lalu <strong>Federasi Sepak Bola Jepang</strong> mempekerjakan seorang yang kontroversial bernama <i>Ego Jinpachi.</i>
            <i>Jinpachi</i> memiliki sebuah program bernama <q>Blue Lock</q>, di mana akan ada <em>300 striker</em> berusia 18 tahun yang ikut seleksi.
            Tujuannya agar <b>Tim Nsional Jepang</b> akan memiliki seorang <em>striker</em> tajam yang harus gol.
            Apabila ada pemain yang gagal dalam seleksi <em>Blue Lock</em>, maka dia tidak akan pernah diijinkan untuk membela <b>Tim Nasional Jepang</b> selamanya.
        </p>
        <br>

        <p>
            Salah satu pemain bola untuk tim SMA, <i>Yoichi Isagi</i>, memutuskan untuk mengikuti program paling kontroversial tersebut dan berusaha bangkit dari kekalahan sebelumnya.
            Selain ingin membela <b>Tim Nasional Jepang</b>, <i>Isagi</i> juga ingin menjadi <em>pemain sepak bola terbaik di dunia.</em>
            Cerita ini bukan hanya berfokus pada <b>menang dan kalah</b>, para pemain juga diharuskan mencetak gol sebanyak-banyaknya.
            Dengan memiliki banyak gol akan membuat peringkat <em>striker</em> naik, begitu juga sebaliknya.
            Juara dari <em>Blue Lock</em> akan mendapat gelar striker tim nasional Jepang pada ajang Piala Dunia.
            Hanya ada satu orang yang menyandang gelar tersebut dan menjadi <strong>andalan</strong> agar Jepang bisa menang.
            Apakah <i>Isagi Yoichi</i> bisa menjadi <q>Pemenang</q> dalam program <b>Blue Lock</b>?
        </p>
    </body>
</htm>